

.buttonCard {
    width: 250px;
    height: 250px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #f7f7f7;
    border:1px solid #BFBFBF;
    /* padding: 50px; */
    font-size: 18px 
}
.buttonChallenge1 {
    background-color: blue;
    display: flex;
    justify-content: center;
}
.buttonChallenge3 {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    /* background-color: white; */
    /* color:#b8c0c2; */
    /* display: flex; */
    /* justify-content: center; */
    /* margin-left: 20px; */
}
/* img {

} */
.Challenges{
    display: flex;
    justify-content: center;
}